#board {
    position: relative;
}

.line {
    display: flex;
    flex-direction: row;
}

.case {
    height: 40;
    width: 40;
}

.black {
    background-color: #b37700 
}

.white {
    background-color: #ffd480;
}

.piece {
    position: absolute;
    height: 40;
    width: 40;
    background-size: 240px 80px;
    background-image: url('../assets/images/ChessPiecesArray.png');
    background-color: transparent;
}

.pawn-white {
    background-position: 40px 40px;
}
.bischop-white {
    background-position: 80px 40px;
}
.knight-white {
    background-position: 120px 40px;
}
.rook-white {
    background-position: 160px 40px;
}
.queen-white {
    background-position: 200px 40px;
}
.king-white {
    background-position: 240px 40px;
}

.pawn-black {
    background-position: 40px 0px;
}
.bischop-black {
    background-position: 80px 0px;
}
.knight-black {
    background-position: 120px 0px;
}
.rook-black {
    background-position: 160px 0px;
}
.queen-black {
    background-position: 200px 0px;
}
.king-black {
    background-position: 240px 0px;
}

.position-allowed {
    z-index: 100;
    position: absolute;
    height: 40;
    width: 40;
    border-radius: 20px;
    background-color: rgba(0, 204, 102,0.2);
}

.message-panel {
    padding: 20px;
    width: 250px;
    color: rgb(0, 204, 102);
    font-size: 20;
    border: 4mm ridge rgba(0, 204, 102,.6);
}

